In [1]:
# Apply appropriate ML algorithm on a dataset collected in a cosmetics shop showing details of  customers to predict customer response for special offer.  
# Create confusion matrix based on above data and find 
# a) Accuracy 
# b) Precision 
# c) Recall 
# d) F-1 score

In [2]:
# Importing Libraries

import pandas as pd

In [9]:
ds = pd.read_excel('sales_data.xlsx')

In [11]:
ds.head()

,invoice_no,customer_id,category,quantity,invoice date,price,shopping_mall
0,I138884,C241288,Clothing,5,05/08/2022,1500.40,South Coast Plaza
1,I317333,C111565,Shoes,3,12/12/2021,1800.51,Beverly Center
2,I127801,C266599,Clothing,1,09/11/2021,300.08,Westfield Century City
3,I173702,C988172,Shoes,5,05/16/2021,3000.85,Stanford Shopping Center
4,I337046,C189076,Books,4,10/24/2021,60.60,South Coast Plaza